<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ssyh.mydemo">

	<permission android:name="android.permission.DELETE_PACKAGES" />

	<application
		android:name=".test.MyApplication"
		android:allowBackup="true"
		android:icon="@drawable/icon_xiangjiao"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".test.java.TestActivity">

		</activity>
		<activity android:name=".test.process.communication.ProcessCommuniActivity">
			<!--<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>-->
		</activity>
		<activity android:name=".test.ui.anim.paowuxian.AnimalTestActivity">

		</activity>
		<activity
			android:name=".MainActivity"
			android:theme="@style/AppWelcome">

		</activity>

		<activity-alias
			android:name=".caomei"
			android:enabled="true"
			android:icon="@drawable/icon_caomei"
			android:targetActivity=".test.java.TestActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity-alias>

		<activity-alias
			android:name=".qingning"
			android:enabled="false"
			android:icon="@drawable/icon_qingning"
			android:targetActivity=".test.java.TestActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity-alias>



		<activity-alias
			android:name=".pingguo"
			android:enabled="false"
			android:icon="@drawable/icon_pingguo"
			android:targetActivity=".test.java.TestActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity-alias>

		<service
			android:name=".test.process.communication.service.MessengerService"
			android:enabled="true"
			android:exported="true"
			android:process=":childp">
			<intent-filter>
				<action android:name="com.ssyh.service.p" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
	</application>

</manifest>